.partners{
    background-color: rgba(0, 159, 227, 0.115);
}
h1{
    color: #1B75BC;
}
hr{
    height: 3px;
    color: #1B75BC;
    width: 100px;
}
 /* .custom{
    width: 360px;
    height:170px;
}
 .simple{
    width:410px;
    height: 170px;
} */
.fixed-size {
    width: 100%; 
    height: 185px; 
    /* object-fit: cover;  */
  }
a {
    text-decoration: none;
}
h2{
    color: #1B75BC;   
}
.swiper-button-next svg, .swiper-button-prev svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center center;
    /* dispaly: none; */
    margin-left: 30px;
}
  
