<div class="custom-style">
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" [formGroup]="loginForm">
                    <div class="login_image mb-4">
                        <img src="assets/images/logo.png" alt="logo" style="width: auto; height: 50px;">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="User name" formControlName="userName">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" >
                        <!-- <input class="login__input"  [type]="hide ? 'password' : 'text'" formControlName="password"
                                autocomplete="off" class="" placeholder="Password"> -->
                        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" class="custom-icon">
                                <mat-icon class="">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> -->
                    </div>
                    <button class="button login__submit" (click)="onLogin()">
                        <span class="button__text" >Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <!-- <div class="social-login">
                    <h3>log in via</h3>
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div> -->
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</div>
