<div id="section1">
    <section id="home">
        <app-hero></app-hero>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="founder">
        <app-founder></app-founder>
    </section>
    <section id="advisory">
        <app-advisory></app-advisory>
    </section>
    <section id="partners">
        <app-partner></app-partner>
    </section>
    <section id="investors">
       <app-investors></app-investors>
    </section>
    <section id="blog-news">
        <app-blog-news></app-blog-news>
    </section>
    <section id="join-us">
        <app-join-us></app-join-us>
    </section>
    <section id="contact">
        <app-contact></app-contact>
    </section>
    <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <button (click)="scrollToTop()">
            <i class="fa fa-chevron-up"></i>
        </button>
    </div>
</div>
