<div class="contact">
    <div class="container mx-auto  py-5">
        <div class="row mx-lg-5 my-lg-5 ">
            <div class="col-md-3 py-lg-5 py-4">
                <h1 class="fw-bold">LETS TALK</h1>
                <hr>
                <ng-container *ngFor="let data of letsTalkData">
                    <span class="fw-bold">{{data.name}}</span>
                <p> {{data.adress}}</p>
                </ng-container>
                <div class="social">
                    <a href="https://www.linkedin.com/company/onnes-cryogenics/" class="text-decoration-none"
                        target="_blank"><i class="fa-brands fa-linkedin-in fs-6"></i></a>
                    <a href="https://www.instagram.com/onnes.cryogenics/" class="text-decoration-none"
                        target="_blank"><i class="fa-brands fa-instagram fs-6"></i></a>
                    <a href="https://www.facebook.com/onnescryogenics" class="text-decoration-none" target="_blank"><i
                            class="fa-brands fa-facebook-f fs-6"></i></a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FOCryogenics"
                        class="text-decoration-none" target="_blank"><i class="fa-brands fa-twitter fs-6"></i></a>
                </div>
            </div>
            <div class="col-md-9">
                <form class="ms-lg-5 col col-md-10" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputfullName" class="form-label fw-bold">Full Name</label>
                        <input type="text" class="form-control bg-transparent shadow-none" id="exampleInputfullName"
                            placeholder="Full Name" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && g.name.errors }">
                        <div *ngIf="submitted && g.name.errors" class="invalid-feedback text-start">
                            <div *ngIf="g.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Email </label>
                        <input type="email" class="form-control bg-transparent shadow-none" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Email Address" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && g.email.errors }">
                            <div *ngIf="submitted && g.email.errors" class="invalid-feedback text-start">
                                <div *ngIf="g.email.errors.required">Email is required</div>
                            </div>
                    </div>
                    <div class=" mb-3">
                        <label for="floatingTextarea2" class="fw-bold">Comments</label>
                        <textarea class="form-control bg-transparent shadow-none" placeholder="Leave a comment here"
                            id="floatingTextarea2" formControlName="comment" style="height: 100px"
                            [ngClass]="{ 'is-invalid': submitted && g.comment.errors }"></textarea>
                            <div *ngIf="submitted && g.comment.errors" class="invalid-feedback text-start">
                                <div *ngIf="g.comment.errors.required">Comment is required</div>
                            </div>
                    </div>
                    <div class="d-grid">
                        <button  class="btn  text-white" style="background-color: #1B75BC">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Sucess Message Modal -->
        <div class="backdrop" [ngStyle]="{'display':display}"></div>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content card shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="modal-body text-center">
                        <p style="color: #1B75BC;">Your message has been successfully sent. We will contact you very soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>