mat-sidenav {
    background-color: #1B75BC;
    width: 18%;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: #1689e1;
    border-radius: 3px;
  }
  
  .nav-link:hover {
    background-color: #1689e1;
  }
  
  ::ng-deep .success-message {
    background-color: #2AB2A6;
    color: white;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-icon {
    width: 30px !important;
    height: 30px;
  }
  