<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 d-flex justify-content-between align-items-center">
      <h2 class="ps-3">Contact Us Details List</h2>
    </div>
    <div class="d-flex align-items-center justify-content-between my-3 mx-2 row">
      <div class="col-8 d-flex">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="contactUsSearchDateRange" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
  
          <mat-error *ngIf="contactUsSearchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start
            date</mat-error>
          <mat-error *ngIf="contactUsSearchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
            date</mat-error>
        </mat-form-field>
  
        <div class="m-3">
          <button type="submit" (click)="getDateRangeFilteredData()" mat-raised-button class="mx-2"
            style="background-color: #1B75BC; color: white;">Filter</button>
          <button type="submit" (click)="showAll()" mat-raised-button class="mx-2"
            style="background-color: #1B75BC; color: white;">Show All</button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end col-3">
        <span class="h5 m-2">Search </span>
        <input type="text" (keyup)="applyFilter($event)" class="border ml-2 p-1 border-2" style="outline: none;">
      </div>
      <button mat-raised-button style="background-color: #1B75BC; color: white;" class="col-1" (click)="ExportTOExcel()">
        <mat-icon class="fs-5">save_alt</mat-icon> Export
      </button>
    </div>
  
    <mat-table #table [dataSource]="contactUsDataSource" matSort>
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let i=index"> {{this.paginator.pageIndex * this.paginator.pageSize + i + 1}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <!-- startDate Column -->
      <ng-container matColumnDef="mailID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="yourMessage">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
          No data available to show.
        </mat-footer-cell>
      </ng-container>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':contactUsDataSource!=null}">
      </mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']"
        [ngClass]="{'hide':!(contactUsDataSource!=null && contactUsDataSource.data.length==0)}">
      </mat-footer-row>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Pagination -->
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
      aria-label="Contact Us details page"></mat-paginator>
  </section>
