<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 d-flex justify-content-between align-items-center">
        <h2 class="ps-3 fw-bold">Home Image List</h2>
    </div>
    <!-- Add Nav-Item button -->
    <div class="mx-2 mb-4">
        <button type="submit" (click)="openAddHomeImageModal()" mat-raised-button class="mx-2"
        style="background-color: #1B75BC; color: white;">Add Home Image</button>
    </div> 

    <!-- Table data -->
    <mat-table [dataSource]="homeImageDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let i=index"> {{this.paginator.pageIndex * this.paginator.pageSize + i + 1}} </mat-cell>
        </ng-container>
        <!-- Navbar  Column -->
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
            <mat-cell *matCellDef="let element"> <img [src]="element.image" height="50" width="50"> </mat-cell>
        </ng-container>
        <!-- Sub Navbar Column -->
        <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Text </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
        </ng-container>
        <!-- Sub Navbar Column -->
        <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.colour}} </mat-cell>
        </ng-container>
         <!-- Sub Navbar Column -->
         <ng-container matColumnDef="order">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Order </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.order}} </mat-cell>
        </ng-container>
        <!-- Edit Delete Column -->
        <ng-container matColumnDef="edit/delete" >
            <mat-header-cell *matHeaderCellDef> Edit/Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ul class="list-unstyled p-2 px-3 mb-0">
                    <li>
                        <a class="d-flex text-decoration-none custom-icon"
                            (click)="openEditHomeImageModal(element);" style="cursor: pointer;">
                            <mat-icon class=" px-1 ">edit</mat-icon> Edit
                        </a>
                    </li>
                    <li >
                        <a class="d-flex text-decoration-none custom-icon" (click)="openDeleteHomeImageConfirm(element?.id)" style="cursor:pointer;">
                            <mat-icon class=" px-1 ">delete_outline</mat-icon> Delete
                        </a>
                    </li>
                </ul>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                No data available to show.
            </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':homeImageDataSource!=null}">
        </mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(homeImageDataSource!=null && homeImageDataSource.data.length==0)}">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="Teachers details page"></mat-paginator>

        <ng-template #successMsg>
            <div mat-dialog-title>
                <p *ngIf="success" style="opacity: 0.85; color: green;"
                    class="align-items-center justify-content-center  ml-4">{{appService.httpClientMsg}}</p>
                <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center  ml-4">
                    {{appService.httpClientMsg}}</p>
            </div>
        </ng-template>
        
        <ng-template #deleteNavConfirm>
            <div mat-dialog-title>
                <span>Delete Home Image?</span>
            </div>
            <hr/>
            <div mat-dialog-content>
                <p>
                    Do you really want to delete the Home Image?</p>
            </div>
            <hr/>
            <div mat-dialog-actions class="justify-content-between m-2">
                <button mat-button (click)="closeModal()">Cancel</button>
                <button style="color: black;" mat-button (click)="deleteHomeImageItem()" cdkFocusInitial>Ok</button>
            </div>
        </ng-template>
</section>


