.carousel-inner img{
    height: 100vh;
    zoom: 80%;
}
.carousel-caption{
    top: 60%;
    transform: translateY(-50%);
}
.carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
@media(max-width:768px) {
    .carousel-inner img{
        width: 100%;
        height: 250px;
    }
}