<!-- carousel start -->
<!-- <div class="mt-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let data of getHomeImageList,let i = index" [ngClass]="{'active': i === 0}">
                <img [src]="data.image" class="d-block w-100" alt="img1">
                <div class="carousel-caption  d-md-block">
                    <h1 class="text-center fw-bold fs-1">{{data.text}}</h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="next" id="next" (click)="clickFun()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->
<div id="dynamicCarousel" class="carousel slide">
    <div class="carousel-indicators">
      <button *ngFor="let image of getHomeImageList ; let i = index" type="button" data-bs-target="#dynamicCarousel" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let image of getHomeImageList; let i = index" class="carousel-item" [class.active]="i === 0">
        <img [src]="image.image" class="d-block w-100" alt="Slide {{i + 1}}">
        <div class="carousel-caption  d-md-block">
            <h1 class="text-center fw-bold fs-1" [style.color]="image.colour">{{image.text}}</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-next d-none" type="button" data-bs-target="#dynamicCarousel" data-bs-slide="next" id="next" (click)="clickFun()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
